:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --white: #fff;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --navy-blue-modal: #555659;
  --grey: #2e2f42;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var (--slate);
  background-color: var(--white);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: var(--navyblue);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
  opacity: 1;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: var(--ocean);
}

/* HERO */
.page-hero {
  max-width: 1440px;
  background-color: var(--navyblue);
}

.hero {
  padding: 188px 0;
  margin: 0 auto;
  background-image: linear-gradient(#2e2f42b3, 
  rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.hero-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: var(--white);
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--iris);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

/* FEATURES */
.page-features {
  padding: 120px 0;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-grid {
  display: flex;
  gap: 24px;
}

.features-grid:last-child {
  margin-right: 0;
} 

.icon-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99; 
  margin-bottom: 8px;
  background: var(--cloud);
}

.features-title {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--navyblue);
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}
.features-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* TEAM */
.page-team {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 32px 0;
}

.team-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.icon-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style: none;
}

.social-link-team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.social-link {
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

.icon-team { 
  fill: var(--cloud);
}

/* PORTFOLIO */
.page-portfolio {
  padding: 120px 0;
}

.portfolio-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-box {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid #E7E9FC;
  border-top: none;
}

.portfolio-item {
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.img-portfolio {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--iris);
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);  
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.overlay:hover,
.overlay:focus {
  transform: translateY(0%);
} 

.portfolio-item:hover .overlay {
  transform: translateY(0); 
}

.portfolio-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* FOOTER */
.page-footer {
  padding: 100px 0;
  background-color: var(--navyblue);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-box {
  margin-right: 120px;
}
.footer-title {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--cloud);
}

.logo-color {
  color: var(--cloud);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.footer-paragraph.media {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.icon-links-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.social-link-footer {
  width: 40px;
  height: 40px;
  list-style: none;
}
.icon-footer {
  fill: var(--cloud);
}
.icon-social {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social:hover {
  background-color: var(--green);
}

.icon-social:focus {
  background-color: var(--green);
}

.footer-social-one {
  flex-direction: column;
  display: inline-flex;
  margin-right: 120px
}